:root{
    --branding-color: #EAB8B9;
    --secondary-color: rgba(255, 206, 233, 0.14);
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

 
body {
    padding: 0; 
    margin: 0;
    background-color: #fff;
}

.container{
    max-width: 100%;
    margin: 0;
}

nav {
    background: transparent;
    padding: 20px 80px;
}

.navbar-brand {
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: rgba(39, 33, 66, 0.70);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);
}


div .hero-container{
    background: var(--secondary-color);
    max-width: 100%;
}

.hero {
    text-align: center;
    padding: 200px 80px;
}

.hero h2 {
    font-size: 26px;
    font-weight: 700;
    font-family: var(--default-font-family);
    text-align: center;
    color: #272142;
}

.hero p {
    font-family: var(--heading-font-family);
    font-weight:400;
    line-height: 2;
    font-size: 24px;
}

.leaf-container{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: right;
}

.leaf{
    width: 236px;
    height: 206px;
}


h1{
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    font-family: var(--heading-font-family);
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    text-decoration: none;
} 

.btn-branding:hover{
    background: transparent;
    color: var(--branding-color);
    border-color: var(--branding-color);
}

 
.work-inquiry{
    margin-top: 180px;
    margin-left: 80px;
    /* display: flex;
    justify-content: center; */
    width: 1160px;
    height: 200px;
    border-radius: 20px;
    background: rgba(255, 206, 233, 0.14);
        
}

.work-inquiry h1{
    color: #000;
    font-family: var(--heading-font-family);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.work-inquiry h2 {
    color: rgba(42, 45, 52, 0.70);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.inquiry-text h2 {
    margin-left: 160px;
}

.work-inquiry a{
    margin-left: 200px;
    margin-top: 70px;
}

.about{
    margin-top: 65px;
    margin-left: 200px;
}

.about-img{
    width: 467px;
    height: 439px;
}

.aboutme{
        margin-top: 130px;
        margin-right: 90px;
}

.aboutme h1 {
    color: #000;
    font-family: var(--heading-font-family);
    font-size: 56px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aboutme p {
        color: rgba(39, 33, 66, 0.70);
        font-family: var(--default-font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
        width: 480px;
        height: 120px;

}

.aboutme a {
        color: #2A2D34;
        font-family:var(--default-font-family);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px;
        text-underline-offset: 5px;
}

.my-work{
    margin-top: 120px;
    margin-left: 40px;
}


.card{
    width: 360px;
    height: 500px;
    border-radius: 8px;
}

.card-body{
    margin-top: 28px;
}

.card-title{
        color: #000;
        font-family: var(--default-font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
}

.card-text{
        color: rgba(39, 33, 66, 0.70);
        font-family: var(--default-font-family);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.5px;
        margin-top: 20px;
}

.card a{
        color: #2A2D34;
        font-family: var(--default-font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        padding-left: 120px ;
        line-height: normal;
        text-underline-offset: 5px;
}

.work-content div{
    margin-top: 100px;
}

.work {
    margin-top: 65px;
    margin-left: 200px;

}

.work-img {
    width: 80%;
    height: 100%;
}

.work-text {
    margin-top: 130px;
    margin-right: 90px;
}

.work2 {
    margin-top: 65px;
    margin-right: 90px;
}

.work-text2 {
    margin-top: 130px;
    margin-left: 280px;
}

.work-text h1 {
    color: #000;
    font-family: var(--heading-font-family);
    font-size: 44px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.work-text p {
    color: rgba(39, 33, 66, 0.70);
    font-family: var(--default-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    width: 480px;
    height: 120px;

}

.work-text a {
    color: #2A2D34;
    font-family: var(--default-font-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    text-underline-offset: 5px;
}


.work-text2 h1 {
    color: #000;
    font-family: var(--heading-font-family);
    font-size: 44px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.work-text2 p {
    color: rgba(39, 33, 66, 0.70);
    font-family: var(--default-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    width: 480px;
    height: 120px;

}

.work-text2 a {
    color: #2A2D34;
    font-family: var(--default-font-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    text-underline-offset: 5px;
}

.contact-section{
    padding: 200px 20px;
    margin-top: 50px;
}
.contact-div{
    margin-top: -40px;  
}

.contact-div div {
    padding: 5px;
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 4px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-div input{
    width: 290px;
    height: 60px;
    border-radius: 8px;
    margin-left: 5px;
}

.contact-div textarea {
    width: 660px;  
    border-radius: 8px;
}


.submit-btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 18px;
    text-decoration: none;
}

 footer {
     margin: 60px 0;
 }

 footer h2 {
     color: #000;
     text-align: center;
     font-family: var(--default-font-family);
     font-size: 22px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     text-decoration: none;
 }

 footer .email-link {
     text-decoration: none;
     color: black;
     font-size: 24px;
     margin-top: 20px;
    font-family: var(--default-font-family);
 }

 footer .email-link:hover {
     color: var(--branding-color);
 }

 footer .social-links a {
     margin: 0 20px;
     color: var(--branding-color);
     background: var(--secondary-color);
     padding: 10px 14px;
     border-radius: 50%;
     font-size: 18px;
     transition: all 100ms ease-in-out;
 }

 footer .social-links a:hover {
     color: white;
     background: var(--branding-color);
 }

 footer p{
    font-family: var(--default-font-family);
 }

 footer p a{
    color: var(--branding-color);
 }



 

 

@media (max-width: 900px) {

        .navbar-brand {
                color: #000;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

        .hero {
            background: var(--secondary-color);
            text-align: center;
            padding:80px 20px;
            
        }
    
        .hero h2 {
            font-size: 12px;
            font-weight: 700;
            font-family: var(--default-font-family);
            text-align: center;
            margin-top: 130px;
            color: #272142;
        }

        .hero h1 {
            font-size: 52px;
            font-weight: 700;
            font-family:var(--heading-font-family);
            text-align: center;
            color: #272142;
        }

        .hero p {
            font-family: var(--heading-font-family);
            font-weight: 400;
            line-height: 2;
            font-size: 14px;
        }

        .btn-branding {
            background: var(--branding-color);
            border-radius: 8px;
            color: white;
            font-size: 14px;
            line-height: 27px;
            padding: 10px 15px;
            text-decoration: none;
        }
    
        .leaf-container {
            display: flex;
            margin-top: 40px;
        }
    
        .leaf {
            width: 146px;
            height: 120px;
            margin-top: 90px; 
            flex-shrink: 0;
        }

    .project-desciption {
        padding: 0;
        text-align: center;
    }
       
        .about-img {
            display: none;
        }
                
                .aboutme h1 {
                    color: #000;
                    font-family: var(--heading-font-family);
                    font-size: 44px;
                }
        
                .aboutme p {
                    color: rgba(39, 33, 66, 0.70);
                    font-family: var(--default-font-family);
                    font-size: 16px;
                    max-width: 100%;
                }
        
                .aboutme a {
                    color: #2A2D34;
                    font-family: var(--default-font-family);
                    font-size: 15px;
                } 

                        /* .my-work {
                            display: flex;
                            justify-content: center;
                        }

                        .my-work div{
                            margin-top: 20px;
                        } */

                                .card {
                                    width: 300px;
                                    height: 400px;
                                    border-radius: 8px;
                                }
                
                                .card-body {
                                    margin-top: 14px;
                                }

                                .card-img-top2{
                                    height: 226px;
                                }
                
                                .card-title {
                                    color: #000;
                                    font-family: var(--default-font-family);
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                }
                
                                .card-text {
                                    color: rgba(39, 33, 66, 0.70);
                                    font-family: var(--default-font-family);
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 14px;
                                    margin-top: 10px;
                                }
                
                                .card a {
                                    color: #2A2D34;
                                    font-family: var(--default-font-family);
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    text-align: left;
                                    padding-left: 0px;
                                    line-height: normal;
                                    text-underline-offset: 5px;
                                }


                                        .work-inquiry {
                                            margin-top: 70px;
                                            margin-left: 180px;
                                            display: flex;
                                            justify-content: center;
                                            width: 250px;
                                            height: 125px;
                                            border-radius: 5px;
                                            background: #fff;
                    
                                        }
                    
                                        .work-inquiry h1 {
                                            color: #000;
                                            font-family: var(--heading-font-family);
                                            font-size: 24px;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: normal;
                                            white-space: nowrap;
                                        }
                    
                                        .work-inquiry h2 {
                                            color: rgba(42, 45, 52, 0.70);
                                            font-family: Poppins;
                                            font-size: 14px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: normal;
                                            white-space: nowrap;
                                        }
                    
                                        .inquiry-text {
                                            margin-right: 230px;
                                        }
                    
                                        .inquiry-text h1 {
                                            margin-right: 200px;
                                        }
                    
                                        .work-inquiry a {
                                            margin-top: 80px;
                                        }

                                .footer {
                                    margin-top: 50px;
                                }
                
                                .footer h2 {
                                    color: #000;
                                    text-align: center;
                                    font-family: Poppins;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    text-decoration: none;
                                }
                
                                .footer a {
                                    text-decoration: none;
                                    color: #000;
                                }
                
                                .footer div {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50px;
                                    margin-bottom: 5em;
                                }
                
                                .media-links {
                                    display: flex;
                                    margin-top: 30px;
                                    margin-left: 7em;
                                }
                
                                .media-links div {
                                    background: rgba(255, 206, 233, 0.14);
                                    margin: 10px;
                                }
                
                                .footer img {
                                    padding: 0px;
                                }

                                .work-inquiry .btn-branding{
                                    display: none;
                                }

}  

